# disable formatting for languages we don't use

run --@aspect_rules_format//format:java_enabled=false
run --@aspect_rules_format//format:python_enabled=false
run --@aspect_rules_format//format:swift_enabled=false
run --@aspect_rules_format//format:proto_enabled=false
